/*  ___----___ ___----___  Global Style ___----___ ___----___          */
* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}
body {
  height: 100%;
  width: 100%;

}

#particle-canvas {
  width: 100%;
  height: 100%;
}
canvas {
    position: fixed;
}
/*  ___----___ ___----___  Aside-Menu Style ___----___ ___----___          */
ul li{
    list-style-type: none;
}



body.menu-open .aside-menu {
    right: 0;
}
body.menu-open .menu-icon{
    right: 14rem;
}
body.menu-open .main-wrapper {
    right: 12rem;
}
body.menu-open .top-scroll-nav {
    right: 12rem;
}
body.menu-open .top-scroll-nav .menu-icon {
    right: 2rem;
}

.aside-menu {
    -webkit-transition: right, 0.25s;
    -moz-transition: right, 0.25s;
    transition: right, 0.25s;
    border-left: 2px solid #c4b9b9;
    position: fixed;
    top: 0px;
    right: -12rem;
    height: 100%;
    width: 12rem;
    z-index: 99;
    background-color: #ffffff;
    font-size: 1.3rem;
    line-height: 55px;
    padding-top: 3rem;
}
.aside-menu a {
    text-decoration: none;
    padding-left: 25px;
    color: black;

}
.aside-menu a:hover {
    color: #51f051;
}
#hire-link {
    color: #102e10;
    font-weight: bold;
}

#bottom-list {
    display: block;
    font-size: 1rem;
    margin-top: 4rem;
}

/*  ___----___ ___----___  Top Navigation Style ___----___ ___----___          */


img {
    width: 150px;
    height: 150px;
    float: left;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
.topnav h1 {
    font-size: 2rem;   
    padding-top: 2rem;
    
}
.topnav span {
    color: #656565;   
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 2rem;
}
#skills li{
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    margin-top: 10px;
    background-color: #b6adad;
}
#skills li:hover {
    cursor: default;
    background-color: #a09a9a;
}
/*  ___----___ ___----___  Menu Icon Style  ___----___ ___----___   */

.menu-icon {
    display: inline-block;
    cursor: pointer;
    float: right;
    position: relative;
    transition: 0.25s;
    right: 4rem;
    top: 2rem;
    
    z-index: 2;

}
.menu-icon .menu-icon-opens {
    right: 12rem;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change {
    
    transition: 0.25s;

}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/*  ___----___ ___----___ Top Scroll Navigation Stlye  ___----___ ___----___   */

.top-scroll-nav {
    background: #ffffff;
    height: 80px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    border-bottom: 2px solid #c4b9b9;
    z-index: 9;
    right: 0;
    transition: 0.25s;
}
.top-scroll-nav img {
    width: 60px;
    height: 60px;
    padding-left: 15px;
    padding-top: 10px;
    
}
.top-scroll-nav h1 {
    padding-top: 10px;
    font-size: 1.5rem;
}
.top-scroll-nav .menu-icon {
    top: -15px;
    right: 1rem;
}
.scroll-menu-icon > div{
    width: 35px;
    height: 5px;
}
.nav-up {
  top: -82px; 
}






/*  ___----___ ___----___  Main Content Style  ___----___ ___----___   */

.main-wrapper {
    position: relative;
    width: 600px;
    margin-top: 2rem;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    right: 0;
    transition: 0.25s;
}
.main-content {
    clear: both;
    border-top: 2px solid #909090;
    padding-top: 2rem;
    font-size: 2rem;
    padding-bottom: 5rem;

}
.main-content a {
    
}

/*  ___----___ ___----___  Contact List Style  ___----___ ___----___   */
.contact-list {
    clear: both;
}.contact-list ul li {
    display: inline-block;
}
.contact-list a{
    padding-left: 1rem;
    padding-right: 5rem;
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 4rem;
    color: #363131;
    
}
.contact-list a:hover{
   
    color: #c46824;
}

/*  ___----___ ___----___  Project Page Style  ___----___ ___----___   */
.top-scroll-nav-project {
    background: #ffffff;
    height: 80px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    border-bottom: 2px solid #c4b9b9;
    z-index: 9;
}
.top-scroll-nav-project img {
    width: 60px;
    height: 60px;
    padding-left: 15px;
    padding-top: 10px;
    
}
.top-scroll-nav-project h1 {
    padding-top: 10px;
    font-size: 1.5rem;
}
.top-scroll-nav-project .menu-icon {
    top: -15px;
    right: 1rem;
}
.scroll-menu-icon-project > div{
    width: 35px;
    height: 5px;
}
.project-wrapper {
    margin-top: 90px;
}

.logo-trailer {
    font-weight: 300;
    color: #73e298;
}
figure {
    padding-top: 2rem;
}
figure img{
    width: 100%;
    height: 100%;
}
.project-item header p{
    font-size: 2.5rem;
    padding-bottom: 2rem;
    font-weight: bold;
}
.project-item p {
    font-size: 1.5rem;
}
.project-title {
    margin-top: 2rem;
    background-color: #ffa5d9;
}
.project-item {
    
    padding-bottom: 2rem;
    margin-bottom: 4rem;
    border-bottom: 2px solid #cecece;
}

#gotowebsite {
    float: right;
}
#logo-agency {
    font-weight: 700;
    font-size: 2.5rem;
}
#logo-agency span {
      font-weight: 400; 
}
.tools-used {
    padding-top: 10px;
    font-size: 1rem;
    font-style: italic;
}
/* Form Style */


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}




#form {
  position: relative;
  width: 500px;
  margin: 80px auto 100px auto;
}
#form-header {
    position: relative;
    margin: 120px 0 25px 0;
    font-size: 2.9em;
    text-align: center;
    letter-spacing: 7px
}
#sub-form-title {
    position: relative;
    margin: 20px auto;
    font-size: 1.4em;
    text-align: center;
    letter-spacing: 7px
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 502px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}
/*  ___----___ ___----___  About Page Style  ___----___ ___----___   */
#about-title {
        margin-top: 5rem;
    }
#about-section {
    font-size: 1.5rem;
}
.skill-image  {
    float: left;
    max-width: 74px;
    width: 15%;
    margin-top: 30px;
    margin-right: 10px;
    
}
.skill-image img {
    width: 100%;
    height: 100%;

}
#skills-image + p {
    text-decoration: underline;
}

#technologies {
    margin-bottom: 80px;
    margin-top: 20px;

}
#skills-list {
    float: left;
    padding: 5px;
    margin-right: 60px;
  
    
}
#tools-list {
    padding: 5px;
    margin-right: 60px;
    
}
.clear-float{
    clear: both;
}

/*  ___----___ ___----___ Media Query Style  ___----___ ___----___   */

@media screen and (max-width: 800px) {
    
    .main-wrapper {
        width: 80%;
        margin: 0 auto;
    }
    .topnav img{
        position: relative;
        margin-top: 55px;
    }
    .top-scroll-nav h1{
        font-size: 1rem;    
    }
    .top-scroll-nav img {
        padding-right: 0rem;
    }
    .top-scroll-nav-project {
        right: 0;
        transition: 0.25;
    }
    .top-scroll-nav-project h1{
        font-size: 1rem;
    }
    .top-scroll-nav-project img {
        padding-right: 0rem;
    }
    .project-title {
        margin-top: 9rem;
    }
    body.menu-open .top-scroll-nav-project {
    right: 12rem;
}
body.menu-open .top-scroll-nav-project .menu-icon {
    right: 2rem;
}

}
@media screen and (max-width: 560px) {
    #form {
      width: 382px;
    }
    input {
        width: 350px;
    }
    textarea {
        width: 350px;
    }
    #submit {
        width: 382px;
    }
}
@media screen and (max-width: 480px) {
     #form {
      width: 252px;
    }
    input {
        width: 220px;
    }
    textarea {
        width: 220px;
    }
    #submit {
        width: 252px;
    }
    
    .contact-list a {
        padding-left: 0.7rem;
        font-size: 1rem;
    }


}


/*  Back To Top Style  */

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/arrow.png) no-repeat center 50%;
  color: black;        
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top:hover {
    transform: translateY(-10px);
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
