<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../scripts/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
   
   <aside class="aside-menu">
       <ul>
           <li><a href="/">Home</a></li>
           <li><a href="about.html">About me</a></li>
           <li><a href="projects.html">Projects</a></li>
           <li><a  id="hire-link" href="./hire.html">Hire me</a></li>
       </ul>  
        <ul id="bottom-list">
           <li><a href="mailto:&#115;&#116;&#97;&#110;&#105;&#115;&#108;&#97;&#118;&#46;&#103;&#97;&#108;&#105;&#97;&#110;&#116;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">Email</a></li>
           <li><a href="https://github.com/stsglnt" target="_blank">Github</a></li>
           <li><a href="skype:verfallstas">Skype</a></li>
       </ul>
   </aside>
   
   <div class="top-scroll-nav nav-down nav-up">
          <a href="/"><img src="../img/myPhoto.jpg" alt=""></a>
             <h1>Stanislav Galiant</h1>
           <span>Front-end Developer</span>    
    <div class="menu-icon scroll-menu-icon">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
   </div>   
   <div class="top-scroll-nav-project">
          <a href="/"><img src="../img/myPhoto.jpg" alt=""></a>
             <h1>Stanislav Galiant</h1>
           <span>Front-end Developer</span>    
    <div class="menu-icon scroll-menu-icon">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
   </div>
      
      
    <section id="about-section">
      
    <div class="main-wrapper project-wrapper">

   
    <figure id="about-title">  
        <img src="../img/laptop3.jpg" alt="laptop-image">
    </figure>   
    <h1>About Me</h1>
    <p>I’m a front-end web developer. Currently live in Kiev, Ukraine. I am passionate about the web and modern technologies. I primarily focused on front-end development.</p>
    <fragment id="skills-image">
        <div class="skill-image"><img src="../img/html5.png" alt=""></div>
        <div class="skill-image">
            <img src="../img/css3.png" alt="">
        </div>
        <div class="skill-image">
            <img src="../img/js.png" alt="">
        </div>
        <div class="skill-image">
            <img src="../img/angular.png" alt="">
        </div>
       <div class="skill-image">
             <img src="../img/jquery.png" alt="">
        </div>
    </fragment>
    <p class="clear-float">Technologies that I use:</p>
    <div id="technologies">
    <div id="skills-list" >
        <ul>
            <li>HTML / HTML5</li>
            <li>CSS / CSS3</li>
            <li>JavaScript</li>
            <li>AngularJS</li>
            <li>JQuery</li>
            <li>Bootstrap</li>
        </ul>
    </div>
    <div id="tools-list">
        <ul>
            <li>npm</li>
            <li>Git</li>
            <li>Gulp</li>
            <li>Sass</li>
        </ul>
    </div>
    </div>
    <p class="clear-float">Create responsive and beautiful websites that users can experience in the best and most appropriate for them way is my main goal. And luckily, all the range of modern technologies allow me to achieve this goal. If you'd like to work with me please send me an email or use form <a href="hire.html">here</a>.</p>
    <section class="contact-list">
        <ul>
            <li><i class="fa fa-envelope"><a href="mailto:stsglnt@gmail.com">&#115;&#116;&#97;&#110;&#105;&#115;&#108;&#97;&#118;&#46;&#103;&#97;&#108;&#105;&#97;&#110;&#116;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></i></li>
            <li><i class="fa fa-github"><a href="https://github.com/stsglnt" target="_blank">Github</a></i></li>
            <li><i class="fa fa-twitter"></i><a href="https://twitter.com/stsglnt" target="_blank">Twitter</a></li>
            <li><i class="fa fa-skype"><a href="skype:stanislav.galiant">Skype</a></i></li>
        </ul>
    </section>
    
    </div>

</section>  
</body>
</html>