<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../scripts/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

</head>
<body>
   
   <aside class="aside-menu">
       <ul>
           <li><a href="/">Home</a></li>
           <li><a href="about.html">About me</a></li>
           <li><a href="projects.html">Projects</a></li>
           <li><a  id="hire-link" href="./hire.html">Hire me</a></li>
       </ul>  
        <ul id="bottom-list">
           <li><a href="mailto:&#115;&#116;&#97;&#110;&#105;&#115;&#108;&#97;&#118;&#46;&#103;&#97;&#108;&#105;&#97;&#110;&#116;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">Email</a></li>
           <li><a href="https://github.com/stsglnt" target="_blank">Github</a></li>
           <li><a href="skype:verfallstas">Skype</a></li>
       </ul>
   </aside>
   
   <div class="top-scroll-nav nav-down nav-up">
          <a href="/"><img src="../img/myPhoto.jpg" alt=""></a>
             <h1>Stanislav Galiant</h1>
           <span>Front-end Developer</span>    
    <div class="menu-icon scroll-menu-icon">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
   </div>   
   <div class="top-scroll-nav-project">
          <a href="/"><img src="../img/myPhoto.jpg" alt=""></a>
             <h1>Stanislav Galiant</h1>
           <span>Front-end Developer</span>    
    <div class="menu-icon scroll-menu-icon">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
   </div>
   
      
      
      
      
      
      
    <div class="main-wrapper">
        	
            <header id="form-header">Interested in working together ? </header>
            <p id="sub-form-title">Why not send me an email so we can discuss it further?</p>
            
            <p></p>
    <form id="form" class="topBefore">
                
                
            <input type="hidden" name="project_name" value="portfolio-stsglnt">    
            <input type="hidden" name="admin_email" value="stanislav.galiant@gmail.com">    
            <input type="hidden" name="form_subject" value="portfolio hire">    
                
              <input id="name" type="text" placeholder="*NAME" name="name">
              <input id="email" type="email" placeholder="*E-MAIL" name="email">
              <textarea id="message" type="text" placeholder="*MESSAGE" name="textarea"></textarea>
      <input id="submit" type="submit" value="Send">
        <span id="send-result"></span>

    </form>

    <section class="contact-list">
        <ul>
            <li><i class="fa fa-envelope"><a href="mailto:stanislav.galiant@gmail.com">&#115;&#116;&#97;&#110;&#105;&#115;&#108;&#97;&#118;&#46;&#103;&#97;&#108;&#105;&#97;&#110;&#116;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></i></li>
            <li><i class="fa fa-github"><a href="https://github.com/stsglnt" target="_blank">Github</a></i></li>
            <li><i class="fa fa-twitter"></i><a href="https://twitter.com/stsglnt" target="_blank">Twitter</a></li>
            <li><i class="fa fa-skype"><a href="skype:stanislav.galiant">Skype</a></i></li>
        </ul>
    </section>
    </div>

</body>
</html>